<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Schedule Control</title>
        <meta name="description" content="">
        <meta name="author" content="Roman Slovak">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!--<link rel="icon" type="image/png" href="../../dist/images/favicon.png">-->
      
      </head>
<body>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
    <div class="row">
      <div class="col align-self-center" style="margin-top: 2%">
        <h4>Schedule Control</h4> <!-- Irregation -->
        <p>Actual time : {{ hour }}:{{ minute }} / Week day : {{ weekday + 1 }} / {{ dayname }}</p>
      </div>
    </div>
    <div class="row">
            <!-- Modal Trigger -->
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addpin">Add Pin</button>
            {% if isalive %}
            <a class="btn btn-outline-primary">Schedule : Run</a>
            {% else %}
            <a class="btn btn-outline-danger" href="{{ url_for('task')}}">Schedule : Stop</a>
            {% endif %}
    </div>
    <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pin</th>
            <th>I/O</th>
            <th>Action/State</th>
          </tr>
        </thead>
        <tbody>
          {% for pin in pins %}
          <tr>
            <td>{{pin.name}}</td>
            <td>{{pin.pin}}</td>
            <td>{% if pin.io == True %}Output
                {% else %}Input
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-secondary" href="{{ url_for('addpin') }}">On</a>
                <a class="btn btn-outline-danger" href="{{ url_for('delpin', id=pin.id) }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
            <!-- Modal Trigger -->
  <a class="btn btn-outline-primary" href="#adddaily">Add Daily Schedule</a>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for daily in dailyschedule %}
              <tr>
                <td>{{daily.time}}</td>
                <td>{{daily.name}}</td>
                <td>{{daily.duration}}</td>
                <td>
                  <a class="btn btn-outline-secondary" href="#">Edit</a>
                  <a class="btn btn-outline-danger" href="{{ url_for('deldaily', id=daily.id) }}">Delete</a>
                </td>   
               </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>
 </div>
<!-- 
 End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Modal Structure -->
  <!-- Modal -->
<div class="modal fade" id="addpin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addpin') }}" method="POST">
          <label>Name</label>
          {{ pinform.Name() }} 
          <label>Select Pin</label>
          {{ pinform.Pin() }} 
          <label>Select I/O</label>
          {{ pinform.IO() }} 
      </div>
        {{ pinform.submit() }}
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <div id="adddaily" class="modal fade">
    <div class="modal-content">
      <h4>Add Daily Schedule</h4>
      <form action="{{ url_for('adddaily') }}" method="POST">
        <label>Set time</label>
        {{ dailyform.Time() }} 
        <label>Select Pin</label>
        {{ dailyform.Pin() }} 
        <label for="Duration">Set duration</label>
        <p class="range-field">
          <input type="range" id="Duration" min="1" max="59" />
        </p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn"> {{ dailyform.submit() }}</button>
    </div>
  </form>
  </div>

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      
</body>
</html>
