<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Schedule Control</title>
        <meta name="description" content="">
        <meta name="author" content="Roman Slovak">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!--<link rel="icon" type="image/png" href="../../dist/images/favicon.png">-->
      
      </head>
<body>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary alert-dismissible fade show fixed-top" id="alert" role="alert">
                {% for message in messages %}
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

     <div class="row">
      <div class="mx-auto text-center" style="margin-top: 2%">
        <h4>Schedule Control</h4> <!-- Irregation -->
        <p>Actual time : {{ hour }}:{{ minute }} / Week day : {{ weekday + 1 }} / {{ dayname }}</p>
      </div>
    </div>
    <div class="row">
            <!-- Modal Trigger -->
            <div class="pull-left">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addpin">Add Pin</button>
            </div>
            <div class="pull-right">   
            {% if isalive %}
            <button type="button" class="btn btn-outline-primary">Schedule : Run</button>
            {% else %}
            <a class="btn btn-outline-danger" href="{{ url_for('task')}}">Schedule : Stop</a>
            {% endif %}
            </div>
    </div>
    <div class="row">
    <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pin</th>
            <th>I/O</th>
            <th>Action/State</th>
          </tr>
        </thead>
        <tbody>
          {% for pin in pins %}
          <tr>
            <td>{{pin.name}}</td>
            <td>{{pin.pin}}</td>
            <td>{% if pin.io == True %}Output
                {% else %}Input
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-secondary" href="{{ url_for('addpin') }}">On</a>
                <a class="btn btn-outline-danger" href="{{ url_for('delpin', id=pin.id) }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <!-- Modal Trigger -->
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#adddaily">Add Daily Schedule</button>

    <div class="row">
        <table class="table table-sm">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for daily in dailyschedule %}
              <tr>
                <td>{{daily.time}}</td>
                <td>{{daily.name}}</td>
                <td>{{daily.duration}}</td>
                <td>
                  <a href="" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editdaily{{daily.id}}">Edit</a>
                  <a class="btn btn-outline-danger" href="{{ url_for('deldaily', id=daily.id) }}">Delete</a>
                </td>   
               </tr>

<!-- EDIT DAILY -->
<div class="modal fade" id="editdaily{{daily.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Daily Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('editdaily', id=daily.id) }}" method="POST">
          <div class="form-group">
            <label for="name">Set time</label>
            <input type="time" class="form-control" value="{{daily.time}}" name="time" id="time" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="custom-select" name="name" required>
              <option value="">Select...</option>
              {% for pin in pins %}
              <option value="{{pin.name}}" {% if pin.name == daily.name %} selected {% endif %} >{{pin.name}}</option>
              {% endfor %}
            </select> 
          </div>
          <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">{{daily.duration}}</output></label>
          <input type="range" class="custom-range" value="{{daily.duration}}" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

               {% endfor %}
            </tbody>
          </table>
        </div>
 </div>
<!-- ADD PIN -->
 <div class="modal fade" id="addpin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addpin') }}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="form-control" name="pin" id="pin" required>
              {% for pin in avalible_pins %}
              <option>{{ pin }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="io">I/O</label>
            <select class="form-control" name="io" id="io" required>
              <option value="False">Input</option>
              <option value="True">Output</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- ADD DAILY -->
<div class="modal fade" id="adddaily" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Daily Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('adddaily') }}" method="POST">
          <div class="form-group">
            <label for="name">Set time</label>
            <input type="time" class="form-control" name="time" id="time" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="custom-select" name="name" required>
              <option value="">Select...</option>
              {% for pin in pins %}
              <option value="{{pin.name}}">{{pin.name}}</option>
              {% endfor %}
            </select> 
          </div>
          <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">1</output></label>
          <input type="range" class="custom-range" value="1" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      
<script>
  $(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
});
</script>

</body>
</html>
