<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Schedule Control</title>
        <meta name="description" content="">
        <meta name="author" content="Roman Slovak">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
         <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    </head>

<body onload="startTime()">
<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Pi Schedule Control</h5>
  <nav class="my-2 my-md-0 mr-md-3">
<!--    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>-->
  {% if isalive %}
  <button type="button" class="btn btn-success">Schedule : Run</button>
  {% else %}
  <a class="btn btn-danger" href="{{ url_for('task')}}">Schedule : Stop</a>
  {% endif %}
</nav>
</div>

<div class="container-fluid">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show fixed-top" id="alert" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

     <div class="row">
      <div class="mx-auto text-center"> <!-- style="margin-top: 2%"-->
        <p>Week day : {{ weekday + 1 }} / {{ dayname }}</p>
      </div>
    </div>
      <div class="card mb-4 shadow-sm align-item-center">
        <div class="card-header">
          Pin Control
          <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#addpin">Add Pin</button>

        </div>
    <table class="card-table table table-sm text-center">
        <thead>
          <tr>
            <th class="align-middle">Name</th>
            <th class="align-middle">Pin</th>
            <th class="align-middle">I/O</th>
            <th class="align-middle">Action/State</th>
          </tr>
        </thead>
        <tbody>
          {% for pin in pins %}
          <tr>
            <td class="align-middle">{{pin.name}}</td>
            <td class="align-middle">{{pin.pin}}</td>
            <td class="align-middle">{% if pin.io == True %}Output
                                     {% else %}Input
                                     {% endif %}
            </td>
            <td class="align-middle">
              {% if pin.io == True %}

                {% if pin_status[pin.pin] == True %}
                    <a class="btn btn-sm btn-primary" href="{{ url_for('gpio_off', id=pin.pin) }}">Off</a> <!-- Output -->
                {% else %}
                    <a class="btn btn-sm btn-success" href="{{ url_for('gpio_on', id=pin.pin) }}">On</a> <!-- Output -->
                {% endif %}
              
              {% else %}

                {% if pin_status[pin.pin] == True %}
                    <a class="btn btn-sm btn-outline-success" href="#">On</a> <!-- Input -->
                {% else %}
                <a class="btn btn-sm btn-outline-primary" href="#">Off</a> <!-- Input -->
                {% endif %}
              
              {% endif %}
              <a href="" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editpin{{pin.id}}">Edit</a>
                <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deletepin{{pin.id}}">Delete</a>
              </td>
          </tr>

          <!-- EDIT DAILY -->
          <div class="modal fade" id="editpin{{pin.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-warning text-dark">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Pin : {{pin.pin}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('editpin', id=pin.id) }}" method="POST">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" value="{{pin.name}}" name="name" id="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-warning">Update</button>
                </div>
              </form>
              </div>
            </div>
          </div>

              <!-- DELETE PIN -->
              <div class="modal fade" id="deletepin{{pin.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Pin : {{pin.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure want delete?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a class="btn btn-danger" href="{{ url_for('delpin', id=pin.id) }}">Delete</a>
                    </div>
                  </div>
                </div>
              </div>

          {% endfor %}
        </tbody>
    </table>
    </div>
<!-- Daily Schedules -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
          Daily Schedules
          <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#adddaily">Add Daily Schedule</button>
        </div>
        <table class="card-table table table-sm text-center">
            <thead>
              <tr>
                <th class="align-middle">Time</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Duration</th>
                <th class="align-middle">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for daily in dailyschedule %}
              <tr>
                <td class="align-middle">{{daily.time}}</td>
                <td class="align-middle">{{daily.name}}</td>
                <td class="align-middle">{{daily.duration}} min</td>
                <td class="align-middle">
                  <a class="btn btn-sm btn-primary" href="{{ url_for('activedaily', id=daily.id) }}">Active</a>
                  <a href="" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editdaily{{daily.id}}">Edit</a>
                  <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deletedaily{{daily.id}}">Delete</a>
                </td>   
               </tr>

                    <!-- EDIT DAILY -->
                    <div class="modal fade" id="editdaily{{daily.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header bg-warning text-dark">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Daily Schedule : {{daily.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="{{ url_for('editdaily', id=daily.id) }}" method="POST">
                              <div class="form-group">
                                <label for="name">Set time</label>
                                <input type="time" class="form-control" value="{{daily.time}}" name="time" id="time" required>
                              </div>
                              <div class="form-group">
                                <label for="pin">Pin</label>
                                <select class="custom-select" name="name" required>
                                  <option value="">Select...</option>
                                  {% for pin in pins %}
                                  <option value="{{pin.name}}" {% if pin.name == daily.name %} selected {% endif %} >{{pin.name}}</option>
                                  {% endfor %}
                                </select> 
                              </div>
                              <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">{{daily.duration}}</output> min</label>
                              <input type="range" class="custom-range" value="{{daily.duration}}" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Update</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>

                    <!-- DELETE DAILY -->
                    <div class="modal fade" id="deletedaily{{daily.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Daily Schedule : {{daily.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure want delete?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-danger" href="{{ url_for('deldaily', id=daily.id) }}">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
               {% endfor %}
            </tbody>
          </table>
        </div>
<!-- Weekly Schedules -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        Weekly Schedules
        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#addweekly">Add Weekly Schedule</button>
      </div>
      <table class="card-table table table-sm text-center">
          <thead>
            <tr>
              <th class="align-middle">Time</th>
              <th class="align-middle">Name</th>
              <th class="align-middle">Duration</th>
              <th class="align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for weekly in weeklyschedule %}
            <tr>
              <td class="align-middle">{{weekly.time}}</td>
              <td class="align-middle">{{weekly.name}}</td>
              <td class="align-middle">{{weekly.duration}} min</td>
              <td class="align-middle">
                <a class="btn btn-sm btn-primary" href="{{ url_for('activeweekly', id=weekly.id) }}">Active</a>
                <a href="" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editweekly{{weekly.id}}">Edit</a>
                <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteweekly{{weekly.id}}">Delete</a>
              </td>   
             </tr>

                  <!-- EDIT WEEKLY -->
                  <div class="modal fade" id="editweekly{{weekly.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-warning text-dark">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Weekly Schedule : {{weekly.name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('editweekly', id=weekly.id) }}" method="POST">
                            <div class="form-group">
                              <label for="name">Set time</label>
                              <input type="time" class="form-control" value="{{weekly.time}}" name="time" id="time" required>
                            </div>
                            <div class="form-group">
                              <label for="pin">Pin</label>
                              <select class="custom-select" name="name" required>
                                <option value="">Select...</option>
                                {% for pin in pins %}
                                <option value="{{pin.name}}" {% if pin.name == weekly.name %} selected {% endif %} >{{pin.name}}</option>
                                {% endfor %}
                              </select> 
                            </div>
                            <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">{{weekly.duration}}</output> min</label>
                            <input type="range" class="custom-range" value="{{weekly.duration}}" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
                            <label>Day : </label>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day1" type="checkbox" id="day1" value="1" {% if weekly.d1 %} checked {% endif %}>
                              <label class="form-check-label" for="day1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day2" type="checkbox" id="day2" value="1" {% if weekly.d2 %} checked {% endif %}>
                              <label class="form-check-label" for="day2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day3" type="checkbox" id="day3" value="1" {% if weekly.d3 %} checked {% endif %}>
                              <label class="form-check-label" for="day3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day4" type="checkbox" id="day4" value="1" {% if weekly.d4 %} checked {% endif %}>
                              <label class="form-check-label" for="day4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day5" type="checkbox" id="day5" value="1" {% if weekly.d5 %} checked {% endif %}>
                              <label class="form-check-label" for="day5">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day6" type="checkbox" id="day6" value="1" {% if weekly.d6 %} checked {% endif %}>
                              <label class="form-check-label" for="day6">6</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="day7" type="checkbox" id="day7" value="7" {% if weekly.d7 %} checked {% endif %}>
                              <label class="form-check-label" for="day7">7</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>

                  <!-- DELETE WEEKLY -->
                  <div class="modal fade" id="deleteweekly{{weekly.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-danger text-white">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Weekly Schedule : {{weekly.name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure want delete?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a class="btn btn-danger" href="{{ url_for('delweekly', id=weekly.id) }}">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
             {% endfor %}
          </tbody>
        </table>
      </div>
 </div>

<!-- ADD PIN -->
 <div class="modal fade" id="addpin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Add Pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addpin') }}" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="form-control" name="pin" id="pin" required>
              {% for pin in avalible_pins %}
              <option>{{ pin }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="io">I/O</label>
            <select class="form-control" name="io" id="io" required>
              <option value="0">Input</option>
              <option value="1">Output</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- ADD DAILY -->
<div class="modal fade" id="adddaily" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Add Daily Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('adddaily') }}" method="POST">
          <div class="form-group">
            <label for="name">Set time</label>
            <input type="time" class="form-control" name="time" id="time" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="custom-select" name="name" required>
              <option value="">Select...</option>
              {% for pin in pins %}
                {% if pin.io == True %}
              <option value="{{pin.name}}">{{pin.name}}</option>
                {% endif %}
              {% endfor %}
            </select> 
          </div>
          <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">1</output> min</label>
          <input type="range" class="custom-range" value="1" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- ADD WEEKLY -->
<div class="modal fade" id="addweekly" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Add Weekly Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addweekly') }}" method="POST">
          <div class="form-group">
            <label for="name">Set time</label>
            <input type="time" class="form-control" name="time" id="time" required>
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <select class="custom-select" name="name" required>
              <option value="">Select...</option>
              {% for pin in pins %}
                {% if pin.io == True %}
              <option value="{{pin.name}}">{{pin.name}}</option>
                {% endif %}
              {% endfor %}
            </select> 
          </div>
          <label for="duration">Duration : <output name="ageOutputName" id="ageOutputId">1</output> min</label>
          <input type="range" class="custom-range" value="1" min="1" max="59" name="duration" id="duration" oninput="ageOutputId.value = duration.value">
          <label>Day : </label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day1" type="checkbox" id="day1" value="1">
            <label class="form-check-label" for="day1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day2" type="checkbox" id="day2" value="1">
            <label class="form-check-label" for="day2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day3" type="checkbox" id="day3" value="1">
            <label class="form-check-label" for="day3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day4" type="checkbox" id="day4" value="1">
            <label class="form-check-label" for="day4">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day5" type="checkbox" id="day5" value="1">
            <label class="form-check-label" for="day5">5</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day6" type="checkbox" id="day6" value="1">
            <label class="form-check-label" for="day6">6</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="day7" type="checkbox" id="day7" value="7">
            <label class="form-check-label" for="day7">7</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- DISPLAY IP -->
<div class="modal fade" id="IP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Add Daily Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for ip in ip_req %}
        {{ip}}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      
<script>
  $(".alert").delay(2000).slideUp(200, function() {
    $(this).alert('close');
});
</script>
<!--
<script>
  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 1000);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
  </script>
-->
</body>
</html>
